

/* body{
    background: linear-gradient( 180deg, rgba(58, 244, 229, 1) 15%, rgba(12, 112, 210, 1) 100%);
} */
.card{
    box-shadow: 5px 5px 5px rgb(74, 78, 78);
}
input.form-control, .form-group input{
    background: rgb(226, 226, 226);
    box-shadow: 5px 5px 5px rgb(74, 78, 78);
    border: none;
    outline: none;
}

.card-body{
    background: rgb(226, 226, 226);
}

/*marge de l'ensemble des cards*/
@media(max-width:1550px){
.card{
    margin-left: 50px;
}
}

@media(max-width:1440px){
    .card{
        margin-left: 30px;
    }
}

@media(max-width:1024px){
    .card{
        margin-left: 10px;
    }

}

@media(max-width:768px){
    .card{
        margin-left: 30px;
    }
}
@media(max-width:425px){
    h1.display-4{
        font-size: 1.2rem;
    }
}
@media(max-width:375px){
    .card{
        margin-left: 10px;
    }
}
@media(max-width:320px){
    .card{
        margin-left: -10px;
    }
    }