.modal-body{
    /* background-color: #333232; */
    height: 100%;
}

#h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.containerChrono {
    height: 200px;
    width: 700px;
    background-color: #F5E4C3;
    margin: 0 auto;
    border: 5px solid #88B169;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*label*/
.labell {
    margin: 0;

    justify-self: flex-start;
    align-self: center;
    font-size: 30px;
}
#day-label {
    grid-column:2/3;
    grid-row: 1;
}

#hour-label {
    grid-column:3/4;
    grid-row: 1;
}

#min-label {
    grid-column:4/5;
    grid-row: 1;
}

#sec-label {
    grid-column:5/6;
    grid-row: 1;
}

/*times*/
.time {
    justify-self: center;
    align-self: center;

    border: none;
    background-color: #ffffff00;
    font-size: 45px;
    width: 70px;
    height: 50px;
}


#day{
    grid-column:2/3;
    grid-row: 2;
}

#hour {
    grid-column:3/4;
    grid-row: 2;
}

.semicolon {
    justify-self: center;
    align-self: center;

    font-size: 30px;
    margin-left: 100px;
}

#p0 {
    grid-column:2/3;
    grid-row: 2;
}

#p1 {
    grid-column:3/4;
    grid-row: 2;
}

#minute {
    grid-column:4/5;
    grid-row: 2;
}

#p2 {
    grid-column:4/5;
    grid-row: 2;
}

#sec {
    grid-column:5/6;
    grid-row: 2;
}

/* #p3{
    grid-column: 1/5;
    grid-row:1;
    color:white;
    margin-left: 5px;
    margin-top: 5px;
} */

/*buttons*/

#start, #reset {
    align-self: center;
    
    width: 100px;
    height: 40px;
    line-height: 30px;

    font-size: 30px;
    justify-self: center;
}

#start {
    grid-column:5/6;
    grid-row: 3;
    margin-top: -5px;
}

#reset {
    grid-column:2/3;
    grid-row: 3;
    margin-top: -5px;
}

/* form{
    grid-column: 5/7;
    grid-row: 1;
    justify-self: center;
    margin-top: 5px;
} */
