div .row3 p {
    margin-top: 10%;

}

div .col-md-4 p {
    margin-bottom: 0px;
}

div .row3 {
    display: flex;
    width: 104%;
    margin-left: -15px;
    margin-bottom: 3%;
}
div .col-md-4{
    margin-bottom:1 ;
}